<div class = "jumbotron center">
	<h1>One Month Tutorial</h1>

		<%=link_to "Log in",new_user_session_path,class:"btn btn-default btn-lg"%>
		<%=link_to "Sign up",new_user_registration_path,class:"btn btn-success btn-lg"%></p>
</div>